In this assignment, you will be using your new knowledge in regards to creating an SQLlite database, creating tables, and inserting data into the database. Using your ER Diagrams from your group project. 

Here is what you need to accomplish:

You will be using a Google Colab to create your final output. 

- Take your ER Diagram and make sure that it adheres to the 1st Normal Form. 

- Create a database for your project (I encourage students to copy the Python scripts from our previous notebooks). 

- Create x number of tables in your database. 

- Populate at least 5 rows of data (you can manually just insert 5 rows of data and the data can be made up) 

- After this is done, did you need to change your ER diagram at all? If so, update the ER Diagram and post it in the notebook. 

- With your database, you will propose 3 questions that you would like to answer with your database. Then include the correct SQL query to get these results. Example:

What days (top 3) did we have the most snow?

SELECT date,snow FROM stateCollege ORDER BY snow DESC LIMIT 3;

('11/16/2018', 11.5)

('1/20/2019', 7.0)

('3/14/2017', 6.3)

Add at least 50 words on why this question was important and did the results match up to your expectations? 

Save the Jupyter Notebook (as a .IPYNB), and uploaded it to GitHub.

After uploading to GitHub, go to NBViewer (https://nbviewer.jupyter.org/ (Links to an external site.)) and create a link to your GitHub (Jupyter Notebook) and "turn-in" the URL.

In [98]:
import random, sqlite3

connectionToDatabase = sqlite3.connect('airport')
cursor = connectionToDatabase.cursor()

tables = ["Planes", "Checkbook", "Airport", "Pilot", "Airlines", "operationalHours", "Lanes", "flightAttendant", "Customers", "Janitor", "flightPaths"]
attributes = [("planeID int PRIMARY KEY","Seats int","Size int","Meal_Plan text","Max_Altitude int","Plane_Type text","Fuel_Capacity int","airlineID int"), 
               ("monthAndYear text PRIMARY KEY", "Revenue int","Salary int","Profit int"),
               ("airportID int PRIMARY KEY","laneID int ","Date text"),
               ("employeeID int PRIMARY KEY","Salary int","Job text","Name text","Years_Worked int","Hours_Per_Week int","Age int","Access_Level int","planeID int","airlineID int"),
               ("airlineID int PRIMARY KEY","Lanes_Number int","Number_Of_Flights int","Number_Of_Customers int"),
               ("date text PRIMARY KEY","Holiday int","Open_Hours int","Closing_Time int","Week_Days int"),
               ("laneID int PRIMARY KEY","Plane_Type text","Slot_Number int","Position int"),
               ("employeeID int PRIMARY KEY","Salary int","Job text","Name text","Years_Worked int","Hours_Per_Week int","Age int","Access_Level int","planeID int","airlineID int"),
               ("customersID int PRIMARY KEY","First_Name text","Seat_Number int","Class text","planeID int","airlineID int"),
               ("employeeID int PRIMARY KEY","Salary int","Job text","Name text","Years_Worked int","Hours_Per_Week int","Age int","Access_Level int","airportID int"),
               ("pathID int PRIMARY KEY","Start_Location text","End_Location text","Duration int","Altitude int","planeID int","Overseas int")]


def tupleToStr(y):
    def createStr(string, idx):
        if(idx == len(y)):
            return string + ")"
        if(idx == 0):
            return createStr(string + y[idx], idx + 1)
        return createStr(string + ", " + y[idx], idx + 1)
    return createStr("(", 0)

def get_name():
    Namelist = ['Darlene Randazzo', 'Su Hawkinson', 'Mae Ashworth', 'Kevin Chavira', 'Lai Zeng',
                'Carisa Belden', 'Rhea Almaguer', 'Emilio Lacoste', 'Shyla Vosburg', 'Nellie Wilke',
                'Thomasina Lozano', 'Gilbert Zuckerman', 'Elisha Mcelrath', 'Kelle Liggins', 'Lekisha Stoute',
                'Erminia Keough', 'Benita Trent', 'Flor Demasi', 'Jacquelyne Voisin', 'Timmy Maggart', 'Bryan Pfeiffer',
                'Tonita Dunnigan', 'Marcelina Heyden', 'Laree Lyford', 'Viviana Nowell', 'Prudence Schildgen', 'Marcelino Paff',
                'Margene Ferry', 'Garland Marth', 'Mammie Zamora']
    choose = random.randint(0, 29)
    return(Namelist[choose])


def generateAttributes(y, i):
    def gen(attr):
        if("ID" in attr):
            return i
        elif(attr == "Salary int"):
            return random.randint(10000,1000000)
        elif(attr == "Job text"):
            return "'" + random.choice(["Senior worker", "Assistant worker", "Associate worker"]) + "'"
        elif(attr == "First_Name text"):
            return "'" + get_name() + "'"
        elif(attr == "Name text"):
            return "'" + get_name() + "'"
        elif(attr == "Hours_Per_Week int"):
            return random.randint(20,40)
        elif(attr == "Age int"):
            return random.randint(22,50)
        elif(attr == "Years_Worked int"):
            return random.randint(1,10)
        elif(attr == "Access_Level int"):
            return random.randint(1,3)
        elif(attr == "Seats int"):
            return random.randint(10, 500) * 100
        elif(attr == "Size int"):
            return random.randint(10,200) * 1000
        elif(attr == "Meal_Plan text"):
            return "'" + random.choice(["Fast food", "Vegan", "Seafood"]) + "'"
        elif(attr == "Plane_Type text"):
            return "'" + random.choice(["Boeing 747", "Boeing 646", "Boeing 565"]) + "'"
        elif(attr == "Fuel_Capacity int"):
            return random.randint(100,1200) * 1000
        elif(attr == "Revenue int"):
            return random.randint(100,1000) * 10000
        elif(attr == "Profit int"):
            return random.randint(100,500) * 100
        elif(attr == "Date text"):
            if(i == 1):
                return "'Jan 1, 1998'"
            elif(i == 2):
                return "'Jan 9, 1999'"
            elif(i == 3):
                return "'Feb 8, 2000'"
            elif(i == 4):
                return "'March 1, 2002'"
            elif(i == 5):
                return "'Dec 1, 2002'"
        elif(attr == "date text PRIMARY KEY"):
            if(i == 1):
                return "'Jan 1, 1998'"
            elif(i == 2):
                return "'Jan 9, 1999'"
            elif(i == 3):
                return "'Feb 8, 2000'"
            elif(i == 4):
                return "'March 1, 2002'"
            elif(i == 5):
                return "'Dec 1, 2002'"
        elif(attr == "Holiday int"):
            return random.randint(0,1)
        elif(attr == "Week_Days int"):
            return random.randint(0,1)
        elif(attr == "Open_Hours int"):
            return random.randint(6, 9)
        elif(attr == "Closing_Time int"):
            return random.randint(22, 23)
        elif(attr == "Slot_Number int"):
            return random.randint(1, 200)
        elif(attr == "Position int"):
            return random.randint(1, 200)
        elif(attr == "Seat_Number int"):
            return str(random.randint(1, 200))
        elif(attr == "Class text"):
            return "'" + random.choice(["First Class", "Business", "Economy"]) + "'"
        elif(attr == "Start_Location text"):
            return "'" + "Our Airport City" + "'"
        elif(attr == "End_Location text"):
            return "'" + random.choice(["Paris", "London", "New York", "Dallas"]) + "'"
        elif(attr == "Duration int"):
            return random.randint(5,12)
        elif(attr == "Altitude int"):
            return random.randint(10000, 25000)
        elif(attr == "Overseas int"):
            return 1
        elif(attr == "monthAndYear text PRIMARY KEY"):
            return "'" + random.randint(1,12).__str__() + "/" + random.randint(1970, 2019).__str__() + "'"
        elif(attr == "Max_Altitude int"):
            return random.randint(10000, 25000)
        elif(attr == "Number_Of_Flights int"):
            return random.randint(100, 250)
        elif(attr == "Number_Of_Customers int"):
            return random.randint(10000, 50000)
        elif(attr == "Lanes_Number int"):
            return random.randint(2, 15)
        
    def createStr(string, idx):
        if(idx == len(y)):
            return string + ")"
        if(gen(y[idx]) is None):
            print(y[idx])
        if(idx == 0):
            return createStr(string + str(gen(y[idx])), idx + 1)
        return createStr(string + "," + str(gen(y[idx])), idx + 1)
    
    string = "("
    return createStr(string, 0)

createTablesList = list(map(lambda x, y: "'''create table IF NOT EXISTS "+ x +" "+ tupleToStr(y) + " '''", tables, attributes))

genAttributesList = sum(
    [list(map(lambda x, y: "'''insert into "+x+" values "+generateAttributes(y, 1)+"'''", tables, attributes)),
    list(map(lambda x, y: "'''insert into "+x+" values "+generateAttributes(y, 2)+"'''", tables, attributes)),
    list(map(lambda x, y: "'''insert into "+x+" values "+generateAttributes(y, 3)+"'''", tables, attributes)),
    list(map(lambda x, y: "'''insert into "+x+" values "+generateAttributes(y, 4)+"'''", tables, attributes)),
    list(map(lambda x, y: "'''insert into "+x+" values "+generateAttributes(y, 5)+"'''", tables, attributes))],
    [])

list(map(lambda x: cursor.execute(eval(x)), createTablesList))
list(map(lambda x: cursor.execute(eval(x)), genAttributesList))
print()

All results were from our randomly generated values

**What are the names of the Janitors who have access level 1?**
 
SELECT Access_Level, Name FROM Janitor where Access_Level = 1;

simple print(cursor.fetchall()) example:

[(1, 'Gilbert Zuckerman'), (1, 'Erminia Keough'), (1, 'Carisa Belden')]

In [99]:
cursor.execute("SELECT Access_Level, Name FROM Janitor where Access_Level = 1;")
parray=[]
for x in cursor.fetchall():
  parray.append(x)
print('array of employees = {}\n'.format(parray))

if len(parray)==0:
  print('No one has access level 1.')
  
if len(parray)>1:
  cou=len(parray)-1
  for x in parray:
    if cou>1:
      print('{}, '.format(x[1]),end='')
    else:
      print('{} '.format(x[1]),end='')
      break
    cou-=1
  print('and {} all have access level {}'.format(parray[len(parray)-1][1],parray[len(parray)-1][0]))

elif len(parray)==1:
  print('{} has access level {}'.format(parray[0][1],parray[0][0]))

array of employees = [(1, 'Elisha Mcelrath'), (1, 'Jacquelyne Voisin'), (1, 'Prudence Schildgen'), (1, 'Garland Marth')]

Elisha Mcelrath, Jacquelyne Voisin, Prudence Schildgen and Garland Marth all have access level 1

This would be important to know because then, if there was a breach of security of a level one area, we would be able to access the names of the employees who have access to that area.

The values that were returned from this SQL query definitely match our expectations for the data that we inserted into our tables.

 **How many customer names start with the letter M?**
 
SELECT COUNT(First_Name) FROM Customers WHERE First_Name LIKE 'M%';


simple print(cursor.fetchall()) example:

[(1,)]

In [104]:
cursor.execute("SELECT COUNT(First_Name) FROM Customers WHERE First_Name LIKE 'M%';")
count = cursor.fetchall()
print('There are {} people whos first name start with the letter M'.format(count[0][0]))

count array = [(2,)]
There are 2 people whos first name start with the letter M

We count the number of customers names that start with the letter M to sample a small portion of the customers. We can use this small sample to ask surveys or perform details statistics and generalize about our overall population.
 
The values that were returned from this SQL query definitely match our expectations for the data that we inserted into our tables.

 
**Which 3 airlines have the most number of lanes?**
 
SELECT airlineID, Lanes_Number FROM Airlines ORDER BY Lanes_Number DESC LIMIT 3;
(airlineID, number of lanes)

simple print(cursor.fetchall()) example:

(airlineID, number of lanes)

[(1, 9), (2, 6), (5, 5)]

In [109]:
def numbertypes(coun):
    numdict = {1:"first",2:"second",3:"third",4:"forth",5:"fifth"}
    return numdict[coun]
cursor.execute("SELECT airlineID, Lanes_Number FROM Airlines ORDER BY Lanes_Number DESC LIMIT 3;")
aarray=[]
for x in cursor.fetchall():
  aarray.append(x)
print('The top three ailines with the most lanes are:')
cou=0
for x in aarray:
  print('{}: AirlineID {}, with {} lanes'.format(numbertypes(cou+1),x[0],x[1]))
  cou+=1

The top three ailines with the most lanes are:
first: AirlineID 5, with 15 lanes
second: AirlineID 1, with 12 lanes
third: AirlineID 2, with 9 lanes

 The airline with the most number of lanes should be the busiest airlines. They should have the most number of flights and are likely to generate the most profits.
 
The values that were returned from this SQL query definitely match our expectations for the data that we inserted into our tables.